body {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: var(--primary-font-color);
  background-color: var(--secondary-font-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border: none;
}

address {
  font-style: normal;
}

.sections, .portfolio, .regular-clients, .our-team, .features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.order__wrap {
  background: var(--order-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-image.jpg");
  background-size: 1600px 600px;
  background-repeat: no-repeat;
  background-position: center;
}

.propositions {
  padding-bottom: 94px;
}

.our-team {
  background: var(--portfolio-select-list-background-color);
}

.bottom {
  background: var(--order-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v28-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-regular.woff") format("woff"), url("../fonts/raleway-v28-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/raleway-v28-latin_cyrillic-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v28-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin_cyrillic-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
.logo {
  color: var(--main-logo-color);
}
.logo_theme_dark {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--page-header-logo-color);
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.logo_theme_light {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--secondary-font-color);
  margin-bottom: 20px;
}

.modal-open-btn, .modal-form-submit {
  background-color: var(--main-logo-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  letter-spacing: 0.06em;
  color: var(--secondary-font-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px var(--btn-box-shadow-color);
  transition-property: background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}
.modal-open-btn:hover, .modal-form-submit:hover, .modal-open-btn:focus, .modal-form-submit:focus {
  background: var(--modal-open-btn-background-color);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--shadow-border-color);
  padding: 0;
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--main-logo-color);
  transition-property: fill;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}

.portfolio__select-list .portfolio__select-button {
  background: var(--portfolio-select-list-background-color);
  border-radius: 4px;
  font-family: inherit;
  font-style: inherit;
  font-weight: var(--bold-font);
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--primary-font-color);
  min-width: 73px;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}
.portfolio__select-list .portfolio__select-button:hover, .portfolio__select-list .portfolio__select-button:focus {
  background-color: var(--main-logo-color);
  color: var(--secondary-font-color);
  box-shadow: 0px 3px 1px var(--shadow-border-color), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 580px;
  background-color: var(--secondary-font-color);
}

.modal-form-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-font-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}
.modal-form-field:nth-child(4) {
  margin-bottom: 20px;
}

.modal-form-field-desk {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--alternative-font-color);
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--main-logo-color);
  transition-property: border-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--main-logo-color);
  transition-property: fill;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--main-logo-color);
  transition-property: border-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}
.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.modal-form-check-field {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 30px;
  line-height: 1.71;
  color: var(--alternative-font-color);
}

.license-link {
  color: var(--main-logo-color);
}

.modal-form-own-checkbox {
  border: 1px solid var(--primary-font-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
}
.modal-form-check:focus + .modal-form-own-checkbox {
  box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.5);
  transition-property: box-shadow;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}
.modal-form-check:checked + .modal-form-own-checkbox {
  background-color: var(--main-logo-color);
  border: none;
}

.modal-form-own-checkbox-icon {
  display: none;
}
.modal-form-check:checked + .modal-form-own-checkbox .modal-form-own-checkbox-icon {
  display: block;
  fill: var(--secondary-font-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg-color);
  transition-property: opacity, visibility;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--secondary-font-color);
  color: var(--icon-svg-color);
  fill: currentColor;
  transition-property: background-color, color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--main-logo-color);
  color: var(--secondary-font-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  column-gap: 10px;
}

.footer-social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--transparent-black);
  color: var(--secondary-font-color);
  fill: currentColor;
  transition-property: background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}
.footer-social-list__link:hover, .footer-social-list__link:focus {
  background-color: var(--main-logo-color);
  color: var(--secondary-font-color);
}

.footer-social-list__icon {
  width: 20px;
  height: 20px;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
}

.footer-subscribe__form {
  display: flex;
}

.footer-subscribe__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: var(--secondary-font-color);
}
.footer-subscribe__input:hover {
  border-color: var(--secondary-font-color);
  transition-property: border-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}
.footer-subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--bottom-address-tel-mail-color);
}

.footer-subscribe__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-logo-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-font-color);
  margin-left: 12px;
  padding: 10px 28px;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px var(--btn-box-shadow-color);
  transition-property: background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
  fill: currentColor;
}
.footer-subscribe__btn:hover, .footer-subscribe__btn:focus {
  background: var(--modal-open-btn-background-color);
}

.portfolio__example-list .portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-font-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--alternative-font-color);
  margin-top: 4px;
}

.portfolio__example-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}
.portfolio__example-link:hover, .portfolio__example-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__overlay-wrapper .portfolio__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-font-color);
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  overflow-y: auto;
  background-color: var(--bg-portfolio-overlay);
  transition-property: transform;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}
.portfolio__example-link:hover .portfolio__overlay-wrapper .portfolio__overlay-text, .portfolio__example-link:focus .portfolio__overlay-wrapper .portfolio__overlay-text {
  transform: translateY(0%);
}

.portfolio__example-wrap {
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__wrap {
  display: flex;
  justify-content: space-between;
}

.page-header__navigation-wrap {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
}
.menu .menu__item {
  margin-right: 50px;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__link {
  font-weight: var(--bold-font);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-font-color);
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}
.menu__link:hover, .menu__link:focus {
  color: var(--main-logo-color);
}
.menu__link.current {
  color: var(--main-logo-color);
  position: relative;
}
.menu__link.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--main-logo-color);
}

.contact__wrap {
  display: flex;
}
.contact__wrap .contact__item {
  margin-right: 50px;
}

.contact__item:last-child {
  margin-right: 0px;
}

.contact__link {
  font-weight: var(--bold-font);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--alternative-font-color);
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  fill: currentColor;
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}
.contact__link:hover, .contact__link:focus {
  color: var(--main-logo-color);
}
.contact__link .contact__icon {
  margin-right: 10px;
}

.order__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-font-color);
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.features__box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--portfolio-select-list-background-color);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.features__title {
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-font-color);
  margin-bottom: 10px;
}

.features__text {
  line-height: 1.7;
  color: var(--alternative-font-color);
}

.features__list {
  display: flex;
}

.features__item {
  margin-right: 30px;
  width: 270px;
}
.features__item:last-child {
  margin-right: 0;
}

.propositions__items {
  position: relative;
}
.propositions__items > .propositions__image-overlay {
  position: absolute;
  background-color: var(--bg-image-overlay);
  bottom: 0px;
  overflow: hidden;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-font-color);
}

.propositions__list {
  display: flex;
  justify-content: space-between;
}

.propositions__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-font-color);
  margin-bottom: 50px;
}

.our-team__list {
  display: flex;
  justify-content: space-between;
}

.our-team__item {
  background: var(--secondary-font-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__wrap {
  padding: 30px;
}

.our-team__title-name {
  font-weight: var(--bold-font);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-font-color);
  margin-bottom: 10px;
}

.our-team__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--alternative-font-color);
  margin-bottom: 16px;
}

.our-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-font-color);
  margin-bottom: 50px;
}

.regular-clients__list {
  display: flex;
  justify-content: space-between;
}

.regular-clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-radius: 4px;
  color: var(--icon-svg-color);
  fill: currentColor;
  transition-property: border-color, color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}
.regular-clients__link:hover, .regular-clients__link:focus {
  color: var(--main-logo-color);
}

.regular-clients__icon {
  width: 106px;
  height: 60px;
}

.regular-clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-font-color);
  margin-bottom: 50px;
}

.footer-subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-font-color);
}

.footer-join__title {
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-font-color);
}

.footer-wrap {
  display: flex;
  flex-direction: column;
}

.bottom__list .bottom__item {
  margin-bottom: 9px;
}
.bottom__list .bottom__item .bottom__item:last-child {
  margin-bottom: 0;
}

.bottom__wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-join {
  display: flex;
  flex-direction: column;
}

.bottom__address {
  font-style: normal;
  line-height: 1.7;
  color: var(--secondary-font-color);
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}
.bottom__address:hover, .bottom__address:focus {
  color: var(--main-logo-color);
}

.bottom__tel-mail {
  font-style: normal;
  line-height: 1.7;
  color: var(--bottom-address-tel-mail-color);
}
.bottom__tel-mail:hover, .bottom__tel-mail:focus {
  color: var(--main-logo-color);
}

.portfolio__select-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.portfolio__select-list li:not(:last-child) {
  margin-right: 9px;
}

.portfolio__example-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__example-item {
  width: calc((100% - 60px) / 3);
}

.portfolio__overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-example-wrap {
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

:root {
  --primary-font-color: #212121;
  --secondary-font-color: #ffffff;
  --main-logo-color: #2196f3;
  --alternative-font-color: #757575;
  --order-background-color: #2f303a;
  --page-header-logo-color: #000000;
  --portfolio-select-list-background-color: #f5f4fa;
  --modal-open-btn-background-color: #188ce8;
  --bottom-address-tel-mail-color: rgba(255, 255, 255, 0.6);
  --icon-svg-color: #afb1b8;
  --border-color: #eeeeee;
  --bold-font: 500;
  --transparent-black: rgba(255, 255, 255, 0.1);
  --transition-time: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
  --bg-image-overlay: rgba(47, 48, 58, 0.8);
  --bg-portfolio-overlay: rgba(33, 150, 243, 0.9);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --shadow-border-color: rgba(0, 0, 0, 0.1);
  --btn-box-shadow-color: rgba(0, 0, 0, 0.15);
  --placeholder-color: rgba(117, 117, 117, 0.5);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip-path: inset(50%);
  margin: -1px;
}/*# sourceMappingURL=main.css.map */