.bottom__address {
    font-style: normal;
    line-height: 1.7;
    color: var(--secondary-font-color);
    transition-property: color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);

    &:hover,
    &:focus {
        color: var(--main-logo-color);
    }
}

.bottom__tel-mail {
    font-style: normal;
    line-height: 1.7;
    color: var(--bottom-address-tel-mail-color);

    &:hover,
    &:focus {
        color: var(--main-logo-color);
    }
}
