.features__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.features__item {
    width: 100%;
}
.features__box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--portfolio-select-list-background-color);
    border-radius: 4px;
    height: 120px;
    margin-bottom: 30px;
}
.features__title {
    font-size: inherit;
    text-align: center;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-font-color);
    margin-bottom: 10px;
}
.features__text {
    font-size: inherit;
    line-height: 1.7;
    color: var(--alternative-font-color);
}
@media screen and (min-width: 480px) {
    .features__box {
        width: 450px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .features__item {
        width: 350px;
    }
    .features__box {
        width: 100%;
    }
    .features__title {
        text-align: start;
    }
}
@media screen and (min-width: 1200px) {
    .features__box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--portfolio-select-list-background-color);
        border-radius: 4px;
        width: 270px;
        height: 120px;
        margin-bottom: 30px;
    }
    .features__title {
        font-size: inherit;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--primary-font-color);
        margin-bottom: 10px;
    }
    .features__text {
        line-height: 1.7;
        color: var(--alternative-font-color);
    }
    .features__list {
        display: flex;
        flex-direction: row;
    }

    .features__item {
        width: 270px;

        &:last-child {
            margin-right: 0;
        }
    }
}
