.features__box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--portfolio-select-list-background-color);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}
.features__title {
    font-size: inherit;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-font-color);
    margin-bottom: 10px;
}
.features__text {
    line-height: 1.7;
    color: var(--alternative-font-color);
}
.features__list {
    display: flex;
}

.features__item {
    margin-right: 30px;
    width: 270px;

    &:last-child {
        margin-right: 0;
    }
}
