.menu {
    display: none;
}
.contact__wrap {
    display: none;
}
.page-header {
    padding-top: 10px;
    padding-bottom: 10px;
}
.page-header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.open-mobile-menu-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
}
.open-mobile-menu-btn__icon {
    width: 40px;
    height: 40px;
}
@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

// @media screen and (min-width: 1200px) {
// .page-header {
//     border-bottom: 1px solid #ececec;
// }
// .page-header__wrap {
//     display: flex;
//     justify-content: space-between;
// }
// .page-header__navigation-wrap {
//     display: flex;
//     justify-content: space-between;
// }
// .menu {
//     display: flex;

//     & .menu__item {
//         margin-right: 50px;
//     }
// }
// .menu__item:last-child {
//     margin-right: 0px;
// }

// .menu__link {
//     font-weight: var(--bold-font);
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: var(--primary-font-color);
//     display: inline-block;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     transition-property: color;
//     transition-duration: var(--transition-time);
//     transition-timing-function: var(--transition-function);

//     &:hover,
//     &:focus {
//         color: var(--main-logo-color);
//     }
//     &.current {
//         color: var(--main-logo-color);
//         position: relative;

//         &::after {
//             content: "";
//             display: block;
//             position: absolute;
//             bottom: -2px;
//             width: 100%;
//             height: 4px;
//             border-radius: 2px;
//             background-color: var(--main-logo-color);
//         }
//     }
// }
// }
