.portfolio__example-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__example-item {
    width: calc((100% - 2 * 30px) / 3);
}

.portfolio__overlay-wrapper {
    position: relative;
    overflow: hidden;
}
.portfolio-example-wrap {
    padding: 20px 24px;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
