.regular-clients__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-font-color);
    margin-bottom: 30px;
}
.regular-clients__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
}
.regular-clients__icon {
    width: 106px;
    height: 60px;
}
.regular-clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 92px;
    border: 1px solid;
    border-radius: 4px;
    color: var(--icon-svg-color);
    fill: currentColor;
    transition-property: border-color, color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);

    &:hover,
    &:focus {
        color: var(--main-logo-color);
    }
}
@media screen and (min-width: 768px) {
    .regular-clients__link {
        width: 226px;
        height: 92px;
    }
}

@media screen and (min-width: 1200px) {
    .regular-clients__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        color: var(--primary-font-color);
        margin-bottom: 50px;
    }
    .regular-clients__link {
        width: 170px;
        height: 92px;
    }
}
