:root {
    --primary-font-color: #212121;
    --secondary-font-color: #ffffff;
    --main-logo-color: #2196f3;
    --alternative-font-color: #757575;
    --order-background-color: #2f303a;
    --page-header-logo-color: #000000;
    --portfolio-select-list-background-color: #f5f4fa;
    --modal-open-btn-background-color: #188ce8;
    --bottom-address-tel-mail-color: rgba(255, 255, 255, 0.6);
    --icon-svg-color: #afb1b8;
    --border-color: #eeeeee;
    --bold-font: 500;
    --transparent-black: rgba(255, 255, 255, 0.1);
    --transition-time: 250ms;
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
    --bg-image-overlay: rgba(47, 48, 58, 0.8);
    --bg-portfolio-overlay: rgba(33, 150, 243, 0.9);
    --backdrop-bg-color: rgba(0, 0, 0, 0.2);
    --shadow-border-color: rgba(0, 0, 0, 0.1);
    --btn-box-shadow-color: rgba(0, 0, 0, 0.15);
    --placeholder-color: rgba(117, 117, 117, 0.5);
}
